<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "alex2.jpg" %>
  </div>

  <div id="content">
    <h1>Hi, I'm Alex Kaja</h1>
    <p>I'm an aspiring web developer living in Durham, NC with my girlfriend, Leslie, and my dog, Leela. I will be using this site as my personal home base on the internet. You can expect to find an updated resume and regular blog posts about my life's adventures. </p>
    <p>If you have information about a professional opportunity, wish to collaborate on something, build something, play frisbee, organize a dog playdate, listen to music, or just hang out, don't hesitate to contact me through one of the links in the sidebar!</p>
  </div>
</div>
