<% content_for :title, "| About" %>
<div id="page_wrapper">
  <!--<div id="profile_image">
    <%= image_tag "alex2.jpg" %>
  </div>-->

  <div id="content">
    <div>
      <h1>Hi, I'm Alex Kaja</h1>
      <p>I'm a web developer living in Durham, NC with my dog, Leela. I love to play Ultimate, ride bikes, run races, drink coffee, build computers, tinker with software, and read about technology and the internet. I primarily develop in Ruby/Rails; however, I also have experience with PHP and C#. I will be using this site as my personal home base on the internet. You can expect to find an updated resume and regular blog posts about my life's adventures. </p>
      <!--<p>If you have information about a professional opportunity, wish to collaborate on a project, build furniture, play frisbee, grab a beer, organize a dog playdate, listen to music, or just hang out, don't hesitate to contact me through one of the links in the sidebar!</p>-->
    </div>
  </div>
</div>
